/* //My Style */
.cp {
  cursor: pointer;
}

.form-bg {
  background-color: #fff;
  padding: 15px;
  /* box-shadow: 0 8px 6px -6px black; */
  box-shadow: 0.5rem 0.5rem #888, -0.5rem -0.5rem #ccc;
}

.tbl-brand tr td p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.header_stepper {
  padding: 20px 10px 20px 10px;
  background-color: #fff;
}

.stepper_footer {
  padding: 20px 10px 20px 10px;
  background-color: #fff;
}

.stepper_body {
  padding: 20px 10px 20px 10px;
  background-color: #fff;
}

.art_img {
  width: 200px;
  height: 120px;
}

.art_img img {
  width: 100%;
  height: 100%;
}

.brand_top {
  background-color: #fff;
  padding: 20px 10px 20px 10px;
}

.tbl_brand {
  background-color: #fff;
}

.brnad_bottom {
  background-color: #fff;
  padding: 10px;
}

.tbl_driver {
  background-color: #fff;
}

.c-sidebar-brand img {
  width: 60%;
  height: 76px;
}

.d_product {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.d_single_product {
  border: 1px solid #28a745;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 200px; */
  padding: 10px;
}

.d_img {
  height: 200px;
  width: 200px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 2px;
}

.d_img img {
  width: 100%;
  height: 100%;
}

.d_content {
  text-align: center;
  font-size: 14px;
  line-height: 15px;
  font-weight: bold;
}

.d_price {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.preview-img {
  width: 130px;
  /* height: 100px; */
  /* border: 1px solid #888; */
  margin-left: 100px;
}

.preview-mul-img {
  width: 100px;
  height: 100px;
  margin-left: 0px;
}

.color-show {
  width: 100px;
  height: 100px;
  border: 1px solid #888;
}

.tbl-img {
  width: 50px;
  height: 50px;
}

.tbl-color {
  width: 30px;
  height: 30px;
}

.editor {
  min-height: 250px !important;
  background-color: #fff !important;
}
.profile-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 3px solid #dee2e6;
}